@charset "utf-8";
/* CSS Document 更多：http://www.bootstrapmb.com */

*{ margin:0; padding:0}
ul li{ list-style:none}
a{ text-decoration:none}
img{ border:0; max-height:100%; max-width:100%}
body{ width:100%; min-width:1200px; margin:0 auto; font-size:12px; font-family:"宋体";color: #222;}
.clear{ clear:both}

.mainWarp{ width:1100px; margin:0 auto;}

/*topDiv*/
.topDiv{ width:100%; height:32px; background-color: #f6f6f6;}
.topDiv .topLeft{ float:left; width:820px;height:32px; line-height:32px; overflow:hidden}
.topDiv .topLeft span{ color:#000}
.topDiv .topLeft a{ color: #7d7d7d;margin-right: 8px;}
.topDiv .topRight{ float:right; width:280px;height:32px;line-height:32px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.topDiv .topRight span{color:#000}
.topDiv .topRight a{ color: #1a5aa8;}

/*loginDiv*/
.loginDiv{ width:1100px; height:54px; margin:0 auto;padding: 11px 0 10px 0;}
.loginDiv .loginL{ float:left; width:197px; height:41px;margin-top: 9px;margin-left: 8px;}
.loginDiv .loginAddress{ float:left; width:64px;height: 30px;border-left: 1px #535353 solid;margin-top: 12px;color: #535353;}
.loginDiv .loginAddress .add1{width:64px;height: 30px;line-height: 30px;}
.loginDiv .loginAddress .add1 span.span1{margin-left: 12px;font-family: "微软雅黑";font-size: 16px;}
.loginDiv .loginAddress .add1 span.span2{ display:inline-block;width: 14px;height: 7px;background: url(../images/bg_home.png) -9px -51px no-repeat;}
.loginDiv .loginR{ float:left; margin-left: 40px;margin-top: 5px; max-width:200px}

/*menuDiv*/
.menuDiv{width: 1100px; margin:0 auto;margin: 10px auto 8px auto;height: 34px;border-bottom: #FA5F00 solid 2px;}
.menuDiv a{color: #000;display: block;float: left;cursor: pointer;width: 123px;text-align: center;font-size: 16px;height: 34px;line-height: 36px;font-family: "微软雅黑";}
.menuDiv a.onnav{background-color: #FA5F00;color: #FFF;}
.menuDiv a.mobile{background: url(../images/home_mobile.gif) -2px -2px no-repeat;width: 99px;height: 30px;padding-left: 10px;}

*{
    font-family: Microsoft YaHei;
}

#main{
    width: 1112px;
    height: 650px;
    margin-left: 125px;
    border: 1px solid #EDC56F;
    position: relative;
}

.navigation{
    width:100%;
    height: 30px;
    position: relative;
    left: 10px;
    top:5px;
    font-size: 13px;
}

.img_block{
    width: 99%;
    height: 67px;
}

.img{
    width: 100%;
    height: 100%;
}

#readerBlock{
    width:150px;
    height: 100%;
    float: right;
    margin-right: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
/* 展示table*/
.table{
    width:100%;
    font-size: 13px;
    margin-top: 10px;
}

table tr{
    cursor: pointer;
}

table tr:hover{
    background-color: #F0F0F0;
}

table td{
    height:40px;
    text-align: center;
}

#pageControl{
    width: 100%;
    height: auto;
    position: relative;
    position:absolute;
    bottom:10px;
    font-size: 13px;
}

.pageControl_item{
    width:120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

.hr{
    border:none;
    border-top:1px solid #DFA40C;
    height: 1px;
    margin-top: 40px;
    width: 96%;
    margin-left: 23px;
}
